.offer{
    background-image: url("../../img/bg-offer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 359px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer-item{
    width: 1200px;
}
.offer-item h2{
    color: #fff;
    font-size: 40px;
    font-family: "Poppins",serif;
    margin: 0;
}
.offer-item span{
    background-color:#fff;
    opacity: 35%;
    color: rgba(0,0,0 , .7);

}